.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#ffffff;
    max-width: 1600px;
    width: 100%;
    height: 92px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
nav button{
    padding: 12px 16px;
    color: #FFF;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}


